/*
File: about.css
Author: Naushad Sharif
Date: 6.10.2023
*/

/* Create a container for the image and text */
.page-container {
    display: flex;
}

/* Style the image container */
.image-container {
    flex: 1; /* Grow as needed to take up available space */
}

.image-container img {
    max-width: 100%;
    height: auto;
}

/* Style the text container */
.text-container {
    flex: 1.5; /* Grow as needed to take up available space */
    padding: 80px; /* Adjust the padding as needed */
    background-color: black; /* Black background */
    color: white; /* Text color */
    font-size: 20px; /* Adjust the text size as needed */
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    opacity: 75%;
    background-color: #000;
    bottom: 0;
}

body {
    background-color:rgb(10, 10, 14);
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    overflow-x: hidden;
    overflow-y: auto;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}